%form{:method => "POST", :action => "/submit"}
  %label{:for => "artist"} Artist
  %input{:type => "text", :name => "artist", :id => "artist"}

  %label{:for => "track"} Track
  %input{:type => "text", :name => "track", :id => "track"}

  %label{:for => "url"} Url
  %input{:type => "text", :name => "url", :id => "url"}

  %input{:type => "submit", :value => "Submit"}
